@import "../../shared/fonts/overpass/overpass.css";

:root {
  --marathon-col: #ffa301;
  --marathon-alt-col: #fe5100;
  --omnibar-height: 65px;
  --transition-screen-content-width: 600px;
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

body {
  font-family: var(--overpass-font);
  margin: 0;
  opacity: 0;
}

html {
  font-size: 18px;
}

#container {
  position: absolute;
}
